body {
  background: #FEF0EB;
  width: 100%;
  overflow-x: hidden;
  padding: inherit;
  margin: inherit;
  font-family: Verdana, sans-serif;
  /* donnez une bonne tête */
  color: #white;
}


/*Menu hamburger */
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;  
  font-family: Verdana, sans-serif;
}

#menuToggle a {
  text-decoration: none;
  color: #BD632F;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #F3C969;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -20px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/* pour qu'ill soit rapide  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #BD632F;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*  transformer les tranches de burger dans une croix  */
#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #BD632F;
}

/*Cacher celui du milieu */
#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*La derniere va dans laustre sens  */
#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/* Mettre en haut à gauche de l'écran */
#menu {
  border-radius: 5px;
  position: absolute;
  width: 100px;
  margin: -76px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* arrêter le scintillement du texte en safari*/
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}

/*Hamburger terminé*/

.entiere{
    position:absolute;
  z-index: -1;
  margin-left: 20%;
  margin-right: auto;
  width: 40%;
}
.pieds{
  position:absolute;
  z-index: 2;
  width: 30%;
  margin-top: 25%;
  margin-left: 55%;
}
/*Ecriture Jordan's*/
p{
  margin-top: 10%;
  margin-left: 67%;
  position: absolute;
  z-index: 9;
  text-align: right;
  margin-right: 20%;
  font-size: 40px;
font-weight: bolder;
font-family: Verdana, sans-serif;
text-decoration: underline;
}
